/* CSS Document */
.TableBorderdot
    {
    border-collapse:collapse;
    border-right: 0px solid #688440; border-top: 1px   solid #688440; border-left: 0px solid #688440;
    border-bottom: 1px solid #688440; border-style:dotted;    
    }
.TableBorderline
    {
    border-collapse:collapse;
    border-right: 1px solid #e1e1e1; border-top: 1px   solid #e1e1e1; border-left: 0px solid #688440;
    border-bottom: 0px solid #688440;    
    }
.mainheading{font-family:Verdana; font-size:11px; color:#FFFFFF;}

.suboption{font-family:Verdana; font-size:10px;}

.suboptionhover{font-family:Verdana; font-size:10px; text-decoration:none; color:#000000;}

.suboptionhover:hover{font-family:Verdana; font-size:10px; text-decoration:underline; cursor:hand; color:#000000;}

.suboptionview{font-family:Verdana; font-size:10px; color:#000000;}

.suboptionview:hover{font-family:Verdana; font-size:10px; color:#FFFFFF; cursor:hand;}

.cur{cursor:hand;}

.cur:hover{cursor:hand;}

.suboptionh{font-family:Verdana; font-size:11px;}

.textbox
    {
    border-collapse:collapse;
    border-right: 1px solid #000000;    border-left: 1px solid #000000;      border-top:1px solid #000000;      border-bottom: 1px solid #000000;      
    height:13px;width:129px;font-family:Verdana; color:#000000;
    font-size:10px;
    }

.textadd
    {
    border-collapse:collapse;
    border-right: 1px solid #000000;    border-left: 1px solid #000000;      border-top:1px solid #000000;      border-bottom: 1px solid #000000;      
    font-family:Verdana; color:#000000;
    font-size:10px; color:#000000;
    }

.textarea
    {
    border-collapse:collapse;
    border-right: 1px solid #a9ba14;    border-left: 1px solid #a9ba14;      border-top:1px solid #a9ba14;      border-bottom: 1px solid #a9ba14;      
    height:80px; width:250px;
    }

.button
    {
    color: #000;
    background: #fff;
    text-decoration: none;
    border: 1px solid;
    width:20px;  font-size:10px; font-family:Verdana;
    }

.button:hover 
    {
    color: #000; width:20px;
    background: #719ce8;
    text-decoration: none;
    border: 1px solid;
    cursor:hand; font-size:10px; font-family:Verdana;
    }

.suboptionview{font-family:Verdana; font-size:10px; text-decoration:underline;}

.suboptionview:hover{font-family:Verdana; font-size:10px; text-decoration:none;}

.TableBorderlinefooter
    {
    border-collapse:collapse;
    border-right: 0px solid #688440; border-top: 0px   solid #faf5f9; border-left: 0px solid #688440;
    border-bottom: 2px solid #000000;    
    }

.listmenu
    {
    border-collapse:collapse;
    border-right: 2px solid #a9ba14;    border-left: 2px solid #a9ba14;      border-top:1px solid #a9ba14;      border-bottom: 1px solid #a9ba14;      
    height:18px;font-family:Verdana;  width:40px;
    font-size:10px;
    }

.listmenusearch
    {
    border-collapse:collapse;
    border-right: 2px solid #a9ba14;    border-left: 2px solid #a9ba14;      border-top:1px solid #a9ba14;      border-bottom: 1px solid #a9ba14;      
    height:18px;font-family:Verdana;
    font-size:10px;
    }

.button1
    {
    color: #000000;
    background: #ffffff;
    text-decoration: none;
    border: 1px solid;
    border-color: #99f #008 #008 #99f; width:50px;  font-size:10px; font-family:Verdana;
    }

.button1:hover 
    {
    color: #FFF; width:50px;
    background: #2988cc;
    text-decoration: none;
    border: 1px solid;
    border-color: #008 #99f #99f #008; cursor:hand;  font-size:10px; font-family:Verdana;
    }

.listmenubig
    {
    border-collapse:collapse;
    border-right: 2px solid #a9ba14;    border-left: 2px solid #a9ba14;      border-top:1px solid #a9ba14;      border-bottom: 1px solid #a9ba14;      
    height:18px;font-family:Verdana;  width:240px;
    font-size:10px;
    }

.suboptionbold{font-family:Verdana; font-size:11px; font-weight:550;}

.quick
    {
    FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
    }

.quick:hover
    {
    FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
    }